
body{
    font-family: 'Bitter', serif;
    font-family: 'Noto Sans Arabic', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin:0 auto;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #ce9138;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1.hero-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
  }

.item{
    color:black;
    text-decoration: none;
    list-style: none;
}
#surahList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: auto;
}

#surahList li {
  margin: 10px 0;
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#surahList li:hover {
  background-color: #f5f5f5;
  font-size: 20px;
}



  .search-container {
    text-align: center;
    margin: 20px 0;
  }
  
  #search-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
  }
  
  
  #search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ce9138;
    color: white;
  }
  
  